{% extends "base.html" %} 
{%block title%}UserProfile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-4">{{ user.username }} さんのツイート</h3>
    <a href="{% url 'accounts:following_list' user.username %}" class="btn btn-light btn-sm">フォロー中</a>{{ followee_count }}
    <a href="{% url 'accounts:follower_list' user.username %}" class="btn btn-light btn-sm">フォロワー</a>{{ follower_count }}
    
    {% if request.user != user %}
        {% if is_following %}
            <form method="post" action="{% url 'accounts:unfollow' user.username %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Unfollow</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'accounts:follow' user.username %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">{{user.username}}さんをフォローする</button>
            </form>
        {% endif %}
    {% endif %}
    
    <div class="mt-4">
        {% for tweet in tweets %}
            <ul class="list-group">
                <li class="list-group-item">
                    <p>{{ tweet.created_at }}</p>
                    <p>{{ tweet.content }} <a href="{% url 'tweets:detail' pk=tweet.pk %}" class="btn btn-primary">詳細</a></p>
                </li>
            </ul>
        {% endfor %}
    </div>
    
    <a href="{% url 'tweets:home' %}" class="btn btn-secondary mt-3">戻る</a>
</div>
{% endblock %}
