{% extends "base.html" %} 
{%block title%}UserProfile{% endblock %}

{% block content %}
{{user.username}}さんのツイート
<div>
{%for tweet in tweets%}
<ul>
    <li>
        <p>{{tweet.created_at}}</p>
        <p>{{tweet.content}} <a href="{% url 'tweets:detail' pk=tweet.pk %}">詳細</a></p> 
    </li> 
</ul>
{% endfor %}
</div>
{% if request.user != user %}
    {% if is_following %}
        <form method="post"  action="{% url 'accounts:unfollow' user.username%}">
            {% csrf_token %}
            <button type = "submit"id = "unfollow">Unfollow</button>
        </form>
    {% else %}
        <form method = "post" action= "{% url 'accounts:follow' user.username%}">
            {% csrf_token %}
            <button type = "submit">Follow</button>
        </form>
    {% endif %}
{% endif %}
<p><a href = "{%url 'tweets:home'%}">戻る</a></p>
{% endblock %}
